.container {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}
.mt {
  margin-top: 2rem;

}
button {
  background-color: blueviolet;
  color: white;
  padding: .6em 1.2em;
  border: 0;
  border-radius: .4em;
  text-transform: uppercase;
  cursor: pointer;
}